@{
    ViewData["Title"] = "Página Principal";
}
<link href="css/site.css" rel="stylesheet"/>
<div class="text-center">
    <h1 class="display-4"><strong>Projeto Tech</strong></h1>
    <h1>Grupo - DevTech4</h1>
    <h3>Apresentamos</h3>
</div>
</div>
    <br>
    <br>
    <div class="perfil">
            <img class="img" src="imagens/diego.jpg" alt="..."/>
        </div>
        <div class="perfil">
            <img class="img" src="imagens/lais.jpg" alt="..."/>
        </div>
        <div class="perfil">
            <img class="img" src="imagens/denise.jpg" alt="..."/>
        </div>
        <div class="perfil">
            <img class="img" src="imagens/lucas.jpg" alt="..."/>
        </div>
        <div class="perfil">
            <img class="img" src="imagens/jonatha.jpg" alt="..."/>
        </div>
        <div class="perfil">
            <img class="img" src="imagens/natalicio.jpg" alt="..."/>
    </div>
