@{
    ViewData["Title"] = "Página Principal";
}
<link href="css/site.css" rel="stylesheet" />
<div class="text-center">
    <h1>Grupo - DevTech4</h1>
    <h3>Uitlizamos as linguagens de Java e C# com as tecnologias de Spring Boot para
        recuperação de contas e detalhes, banco de dados MySQL com dados do cliente e contas bancárias.
    </h3>
    <br>
    <h3>Apresentamos</h3>
</div>
</div>
<br>
<br>
<div id="conteudo">
    <div class="perfil">
        <img class="img" src="imagens/diego.jpg" alt="..." />
        <a href="https://www.linkedin.com/in/diego-justino-amaral-de-souza-74717066"><h5>Diego Justino Amaral de Souza</h5></a>

    </div>
    <div class="perfil">
        <img class="img" src="imagens/lais.jpg" alt="..." />
        <a href="https://www.linkedin.com/in/lais-yasunaka-64a87750/"><h5>Lais Yasunaka</h5></a>

    </div>
    <div class="perfil">
        <img class="img" src="imagens/denise.jpg" alt="..." />
        <a class="btn-social" href="https://www.linkedin.com/in/denise-regert-mocellin-pcd-7b6a2033/"><h5>Denise Regert Mocellin</h5></a>

    </div>
    <div class="perfil">
        <img class="img" src="imagens/lucas.jpg" alt="..." />
        <a class="btn-social" href="https://www.linkedin.com/in/lucas-eduardo-carlos/"><h5>Lucas Eduardo Carlos Cravo</h5></a>
    </div>
    <div class="perfil">
        <img class="img" src="imagens/jonatha.jpg" alt="..." />
        <a class="btn-social" href="https://www.linkedin.com/in/jonatha-da-silva-teixeira-87168b17a"><h5>Jonatha Teixeira</h5></a>
    </div>
    <div class="perfil">
        <img class="img" src="imagens/natalicio.jpg" alt="..." />
        <a class="btn-social" href="https://www.linkedin.com/in/nataliciojr"><h5>Natalicio Junior</h5></a>
    </div>
</div>
<div class="rodape-top"></div>